<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <%- include('partials/head'); %>
        <title>Crear</title>
    </head>
    <body>
        <div class = "formulari">
            <header >
                <%- include('partials/header'); %>
            </header>
            <form method="post" action="/modificarRegistre" enctype="multipart/form-data">
                <h3>Crea una fila de dades per a la base de dades MySQL:</h3>
                <div class="formRow">ID: <input type="text" name="id" /></div>
                <div class="formRow"><input type="submit" value="Crear"></div>
            </form>
            
            <form method="post" action="/modificarRegistre" enctype="multipart/form-data">
                <h3>Crea una fila de dades per a la base de dades MySQL:</h3>
                <div class="formRow">ID: <input type="text" name="id" /></div>
                <div class="formRow"><input type="submit" value="Crear"></div>
              </form>
              
        </div>
    </body>
