<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Esborrar</title>
    </head>

    <body>
        <div class="formulari">  
            <form method="post" action="/esborrarRegistre" enctype="multipart/form-data">
                <div class="formRow">
                  <b><b style="color: red;">Estàs segur que vols esborrar la fila?</b>
                </div>
              
                <input type="hidden" name="id" value="<%= infoClothes.id %>">
              
                <div class="formRow">
                  <label for="id">ID:</label>
                  <span><%= infoClothes.id %></span>
                </div>
              
                <div class="formRow">
                  <button type="submit">Esborrar</button>
                </div>
              </form>
              
              
        </div>
    </body>
</html>
