@import url("/shadows/common.css");
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');

.root {
    background-color: rgb(192, 206, 211);
    border: 1px solid rgb(192, 206, 211);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Pixelify Sans', sans-serif;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.errorPwd {
    font-size: 0.8em;
    opacity: 0;
    transition: opacity 0.5s ease;
}

a{
    text-transform: none;
    color: black;
}